<nav class="navbar">
    <ul class="navbar__list">
        <li class="navbar__list__item">
            <a href="#aboutMe">
                <fa-icon [icon]="faCircleQuestion"></fa-icon> About me
            </a>
        </li>
        <li class="navbar__list__item">
            <a href="#knowladge">
                <fa-icon [icon]="faBook"></fa-icon> Knowledge
            </a>
        </li>
        <li class="navbar__list__item">
            <a href="#projects">
                <fa-icon [icon]="faLaptopCode"></fa-icon> Projects
            </a>
        </li>
        <li class="navbar__list__item">
            <a href="#social">
                <fa-icon [icon]="faShareNodes"></fa-icon> Social
            </a>
        </li>
        <li class="navbar__list__item">
            <a href="#resume">
                <fa-icon [icon]="faFile"></fa-icon> Resume
            </a>
        </li>
    </ul>
</nav>