<div class="social" id="social">
    <div class="social__container">
        <div class="social__container__content">
            <div class="social__container__content__item">
                <img src="/assets/images/linkedin.jpg" alt="linkedin-img">
                <div>
                    <p>In my Linkedin profile you can find personal information about my development in the area of development, obtaining some data such as my previous experience, some projects and my current projects.</p>
                    <a href="https://linkedin.com/me/markosbab" target="_blank">
                        Visit profile
                    </a>
                </div>
            </div>
            <div class="social__container__content__item">
                <img src="/assets/images/instagram.png" alt="linkedin-img">
                <div>
                    <p>On Instagram you can find a more personal point of view about me, my loved ones, my dog Morena. Also something of what I do daily in the world of programming.</p>
                    <a href="https://www.instagram.com/markos4089/" target="_blank">
                        Visit profile
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>