<div class="projects" id="projects">
    <div class="projects__container">
        <h2 class="title">My projects</h2>
        <div class="projects__container__content">
            <div class="projects__container__content__item">
                <picture>
                    <img src="/assets/images/Animal-Help-Logo-New.png" alt="animal-help-logo">
                </picture>
                <div>
                    <h3 class="title">Animal Help Uruguay</h3>
                    <p>
                        This site was made for an animal shelter, directed by Mary Brown, the site is made with different functions, such as creating an account to create publications of lost pets, which will have to be paid for make the publication. Also on the site you can find information on how donate and can be updated with constant news on the website.
                    </p>
                    <a href="http://animalhelpuruguay.org.uy/" target="_blank">
                        <picture>
                            <fa-icon [icon]="faGlobe"></fa-icon>
                        </picture>
                    </a>
                </div>
            </div>
            <div class="projects__container__content__item">
                <div>
                    <h3 class="title">Adopta Ya Uruguay</h3>
                    <p>
                        The site was about adoption and recovery of lost pets, there people they could register their personal account, and start posting their pets on adoption or search for a lost pet. Then the visitors who don't wanted to publish could access the site and see all the pets that were published for adoption, or lost, filtering according to your interest.
                    </p>
                    <a href="https://github.com/MarkOsBab/Adopta-ya/" target="_blank">
                        <picture>
                            <img src="/assets/images/github.png" alt="github-logo">
                        </picture>
                    </a>
                </div>
                <picture>
                    <img src="/assets/images/logo_adoptaya.png" alt="adopta-ya-logo">
                </picture>
            </div>
            <div class="projects__container__content__item">
                <picture>
                    <img src="/assets/images/Altrion_Icon.png" alt="altrion-server-logo">
                </picture>
                <div>
                    <h3 class="title">Altrion Server</h3>
                    <p>
                        Altrion server was a private server of AQW an MMORPG Online in which you could buy unique items for the game and see the statistics of all the players
                    </p>
                    <a href="https://github.com/MarkOsBab/Altrion-Server/" target="_blank">
                        <picture>
                            <img src="/assets/images/github.png" alt="github-logo">
                        </picture>
                    </a>
                </div>
            </div>
            <div class="projects__container__content__item">
                <div>
                    <h3 class="title">Kingdoms of the Future Server</h3>
                    <p>
                        KOTF was a site for a private server of AQW an Online MMORPG on the site you could buy items like VIP / FOUNDER they gave you advantages in the game, you could see statistics and profiles of other game users.
                    </p>
                    <a href="https://github.com/MarkOsBab/KOTF" target="_blank">
                        <picture>
                            <img src="/assets/images/github.png" alt="github-logo">
                        </picture>
                    </a>
                </div>
                <picture>
                    <img src="/assets/images/KOTF_Logo.png" alt="kingdoms-of-the-future-logo">
                </picture>
            </div>
            <div class="projects__container__content__item">
                <picture>
                    <img src="/assets/images/altrion_sites_logo.png" alt="altrion-sites-logo">
                </picture>
                <div>
                    <h3 class="title">Altrion Sites</h3>
                    <p>
                        Altrion Sites is a separate backend/frontend project using an API built in Laravel and then consumed in the frontend built in Angular. The project consists of a dashboard to manage elements of a website such as: news, completed projects, services offered. In addition, JWT is used to manage users and tokens for login and to be able to use the API.
                    </p>
                    <a href="https://github.com/AltrionSites/" target="_blank">
                        <picture>
                            <img src="/assets/images/github.png" alt="github-logo">
                        </picture>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>