@import './../../../variables.scss';
.knowladge{
    max-width: 1080px;
    margin: 0 auto;
    &__container{
        background-color: $ligth;
        color: $dark;
        border-radius: 10px;
        margin: 10px 0;
        padding: 20px 0;
        h2{
            font-family: $primary-font;
            font-size: 3em;
            font-weight: bold;
            margin: 10px;
            text-align: center;
        }
        &__content{
            display: flex;
            flex-direction: column;
            margin: 20px;
            padding: 20px;
            justify-content: center;
            align-items: center;
            &__item{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                picture{
                    transition: transform .3s;
                    &:hover{
                        transform: scale(1.1);
                    }
                    img{
                        width: 100%;
                        max-width: 200px;
                        pointer-events: none;
                        user-select: none;
                    }
                }
                div{
                    max-width: 400px;
                    margin: 15px;
                    padding: 20px;
                    p{
                        font-size: 2em;
                        font-family: $secondary-font;
                    }
                }
            }
            &__box{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                flex-wrap: wrap;
                gap: 0 60px;
                picture{
                    transition: transform .3s;
                    &:hover{
                        transform: scale(1.1);
                    }
                    margin: 10px;
                    img{
                        width: 100%;
                        max-width: 180px;
                        pointer-events: none;
                        user-select: none;
                    }
                    &:nth-child(3){
                        img{
                            width: 100%;
                            max-width: 130px;
                        }
                    }
                }
            }
        }
    }
    @media screen and (max-width: 768px) {
        &__container{
            &__content{
                &__item{
                    display: flex;
                    flex-direction: column;
                    div{
                        order: 1;
                        border-bottom: 1px dashed $dark;
                        width: 100%;
                    }
                }
            }
        }
    }
}