<div class="knowladge" id="knowladge">
    <div class="knowladge__container">
        <h2 class="title">My knowladge</h2>
        <div class="knowladge__container__content">
            <div class="knowladge__container__content__item">
                <picture>
                    <img src="/assets/images/angular.png" alt="angular-image">
                </picture>
                <div>
                    <p>The experience I have with Angular is very good, using it in all my current projects to obtain better practices and results when developing. Using apis to handle some applications and more professional results.</p>
                </div>
            </div>
            <div class="knowladge__container__content__item">
                <div>
                    <p>My experience using Laravel is generally extensive, having been used in the creation of multiple APIs and testing features to obtain clean and error-free code.</p>
                </div>
                <picture>
                    <img src="/assets/images/laravel.svg" alt="laravel-image">
                </picture>
            </div>
            <div class="knowladge__container__content__item">
                <picture>
                    <img src="/assets/images/sass.png" alt="sass-image">
                </picture>
                <div>
                    <p>My experience with the SASS microprocessor is extensive, using BEM methodology for its more effective use and thus obtaining better design results, with 1 year of experience using it.</p>
                </div>
            </div>
            <div class="knowladge__container__content__item">
                <div>
                    <p>My experience with React is not very extensive but I have the knowledge to create projects with communication to APIs with a project made with this framework.</p>
                </div>
                <picture>
                    <img src="/assets/images/react.png" alt="react-image">
                </picture>
            </div>
        </div>
        <h2>Other knowladge</h2>
        <div class="knowladge__container__content__box">
            <picture>
                <img src="/assets/images/html.png" alt="html-logo">
            </picture>
            <picture>
                <img src="/assets/images/js.png" alt="javascript-logo">
            </picture>
            <picture>
                <img src="/assets/images/css3.png" alt="css3-logo">
            </picture>
        </div>
        <div class="knowladge__container__content__box">
            <picture>
                <img src="/assets/images/php.png" alt="php-logo">
            </picture>
            <picture>
                <img src="/assets/images/git.png" alt="git-logo">
            </picture>
            <picture>
                <img src="/assets/images/bem.png" alt="bem-logo">
            </picture>
        </div>
    </div>
</div>