/* You can add global styles to this file, and also import other style files */
@import './variables.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    min-height: 100vh;
    background-color: $dark;
    color: $ligth;
}