<div class="about" id="aboutMe">
    <div class="about__container">
        <picture>
            <img src="/assets/images/aboutMe.jpg" alt="about-image" class="d-lg-none">
        </picture>
        <div class="about__container__content">
            <div class="about__container__content__item">
                <div class="about__container__content__item__box">
                    <picture>
                        <img src="/assets/images/me.png" alt="me-img">
                    </picture>
                    <h1>About me</h1>
                </div>
                <p>
                   I am 22 years old, and I love programming. I am a JR developer who started from the bottom being self-taught since I was 16 years old. Then over time I wanted to professionalize myself and took courses to perfect my knowledge. Currently I dedicate myself to developing on a daily basis, always carrying out new projects and always learning new things and always improving.
                </p>
            </div>
        </div>
    </div>
</div>